@use "../../mixins" as *;
@use "../../presets" as *;

.member {

  @include md-min {
    padding-top: 80px;
    margin-bottom: 80px;
  }

  @include md {
    padding-top: 25px;
    margin-bottom: 40px;
  }

  &__flex {
    display: flex;
    justify-content: center;

    @include md-min {
      gap: 40px;
    }

    @include md {
      gap: 15px;
      flex-direction: column;
    }
  }

  &__img {
    @media (max-width: 458px) {
      width: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 640px;
  }

  &__name {
    @include gradient;

    @include md-min {
      font-size: 42px;
      line-height: 50px;
    }

    @include md {
      font-size: 32px;
      line-height: 38px;
    }
  }

  &__contacts {
    display: flex;
    border-bottom: 4px solid $color-grey-sep;
    align-items: center;

    @include lg-min {
      padding-bottom: 17px;
      gap: 26px;
    }

    @include lg-md {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 17px;
      gap: 8px;
    }

    @include md {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 17px;
      gap: 8px;
    }
  }

  &__position {
    line-height: 22px;
    color: $color-grey-text;
  }

  &__link {
    line-height: 19px;
    color: $color-action-reg;
    transition: .25s;

    &:hover {
      color: $color-accent;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 19px;

    @include lg-min {
      padding-top: 29px;
    }

    @include lg {
      padding-top: 9px;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-main;
    margin-bottom: 9px;

    @include lg-min {
      padding-top: 20px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 26px;
  }
}