@use "../../mixins" as *;
@use "../../presets" as *;

.team {
  @include sm-min {
    margin-bottom: 50px;
  }

  @include sm {
    margin-bottom: 35px;
  }

  &__title {
    font-size: 2.625em;
    max-width: 865px;
    margin: 0 auto;

    @include gradient;

    @include md-min {
      font-size: 2.625em;
      padding: 81px 0 80px;
    }

    @include md {
      font-size: 2em;
      padding: 23px 0 20px;
    }
  }

  &__grid {
    display: grid;
    align-items: start;
    column-gap: 40px;
    row-gap: 45px;

    @include md-min {
      grid-template-columns: repeat(3, 1fr);

    }

    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      row-gap: 16px;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    gap: 10px;

    @include sm {
      flex-basis: 50%;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
    }

    @media (max-width: 320px) {
      flex-grow: 2;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    transition: .25s;

    &:hover .team__name {
      color: $color-accent;
    }

    &:hover .team__move>img {
      filter: invert(4%) saturate(400%) hue-rotate(10deg) brightness(99%) contrast(105%);
    }

    @include sm {
      flex-direction: row;
      align-items: flex-end;
    }
  }

  &__pic {
    max-width: 413px;
    min-width: 100px;
    flex-basis: 30%;
    flex-grow: 1;

    &>img {
      width: 100%;
      object-fit: cover;

      @include sm-min {
        padding-bottom: 20px;
      }

      @include sm {
        padding-right: 10px;
      }

      @media (max-width: 328px) {
        padding-right: 4px;
      }
    }
  }

  &__info {
    @include sm {
      max-width: 190px;
    }
  }

  &__name {
    font-size: 1.125em;
    line-height: 21px;
    color: $color-main;
    font-weight: 500;

    @media (max-width: 365px) {
      font-size: $font-size;
    }
  }

  &__position {
    padding-top: 6px;
    line-height: 22px;
    color: $color-grey-text;

    @include xs {
      font-size: 0.875em;
      line-height: 20px;
    }

  }
}