@use "../../presets" as *;
@use "../../mixins" as *;

.header-home {
  background: linear-gradient(42.01deg, #323264 14.33%,
      #323264 51.39%, #7A425E 87.53%);
  position: relative;
  overflow: hidden;

  @include md-min {
    &::before {
      content: "";
      @include abs-pos;
      background-image: url(../img/header/Frame2.svg);
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: 88vh;
    }
  }

  &::after {
    content: "";
    @include abs-pos(70%);
    background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  }

  &__content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__symbol {
    position: absolute;
    bottom: 30px;
    transform: scale(1.2);


    @media (max-height: 750px) {
      bottom: -30px;
      transform: scale(0.9);
    }

    @media (max-height: 590px) {
      bottom: -40px;
      transform: scale(0.8);
    }
  }

  &__title {
    font-size: 2.375em;
    color: $color-white;
    font-weight: 500;
    position: relative;
    text-align: center;
    max-width: 623px;
  }

  &__btn {
    position: absolute;
    bottom: 20px;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
  }
}