@use "../../presets" as *;
@use "../../mixins" as *;

.header-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;

  @include lg-min {
    grid-area: b;
  }

  @include lg {
    order: -1;
    justify-content: flex-start;

    a {
      color: $color-grey-text;
    }
  }

  @include sm {
    justify-content: space-between;
  }

  &__lang {
    display: flex;
    align-items: center;
    gap: 2px;
    padding-top: 2px;
  }

  &__lang-link {
    font-weight: 700;
    font-size: 0.75em;
    letter-spacing: 1px;
    padding: 5px 6px;
    transition: .25s;
    color: $color-grey-text;

    &.active {
      background-color: $color-accent;
      border-radius: 8px;
      color: $color-white;
    }

    &:hover:not(.active) {
      background-color: $color-grey-alt;
      border-radius: 8px;
      color: $color-grey-text;
    }

    &--dark-bg {
      color: $color-white;
    }
  }

  &__locate {
    max-width: 400px;

    @include sm {
      display: none;
    }

    &-link {
      color: $color-grey-text;

      &--dark-bg {
        color: $color-white;
      }
    }

  }

  &__socials {
    transition: .1s;

    &:hover {
      filter: invert(54%) sepia(41%) saturate(3386%) hue-rotate(181deg) brightness(100%) contrast(102%);
    }

    @include sm {
      display: none;
    }
  }

  &__tel-link {
    font-weight: 700;
    color: $color-grey-text;

    &--dark-bg {
      color: $color-white;
    }
  }
}