@use "../../mixins" as *;
@use "../../presets" as *;

.header {
  &--services {
    background-color: $color-main;
  }

  &--service {
    &::before {
      @include abs-pos;
      z-index: 1;
      width: 100vw;
      content: "";
      background-image: url(../img/home/services/Cover.png);
      background-repeat: no-repeat;
      transform: translateY(-15%);

      @media (min-width: 1440px) {
        background-size: 100%;
      }
    }
  }

  &__grid--abs {
    position: absolute;
    z-index: 3;
    right: 0;
    left: 0;
    top: 0;
  }

  &__grid {
    display: grid;

    @include lg-min {
      grid-template-areas:
        "a b"
        "a c";
      padding-top: 45px;
      grid-template-columns: auto 1fr;
    }

    @include lg-md {
      grid-template-areas: "a""b";
      align-items: center;
      gap: 20px;
      padding-top: 20px;
    }

    @include md-sm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-items: start;
      padding-top: 20px;
      gap: 15px;
    }

    @include sm {
      grid-template-areas:
        "a"
        "b";
      padding-top: 20px;
      gap: 15px;
    }
  }

  &__flex {
    display: flex;

    @include lg-min {
      grid-area: a;
    }

    @include lg {
      grid-area: b;
    }
  }
}