@use "../../presets" as *;
@use "../../mixins" as *;

.contacts {

  @include sm-min {
    padding-top: 81px;
  }

  @include sm {
    padding-top: 28px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include sm-min {
      flex-basis: 413px;
    }

    @include sm {
      width: 100%;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    @include sm-min {
      gap: 20px;
    }

    @include sm {
      flex-direction: column;
      gap: 38px;
    }
  }

  &__adress,
  &__phone,
  &__email {
    font-size: 1.3em;
    line-height: 30px;
    color: $color-main;
  }

  &__adress {
    border-bottom: 4px solid $color-grey-sep;
    padding-bottom: 17px;
  }

  &__phone {
    padding-top: 18px;
  }

  &__email {
    padding-bottom: 38px;
    border-bottom: 4px solid $color-grey-sep;

    &-link {
      color: $color-action-reg;
      transition: .25s;

      &:hover {
        color: $color-accent;
      }
    }
  }

  &__social {
    max-width: 185px;
    transition: .1s;

    &:hover {
      filter: invert(1000%) sepia(59%) saturate(1000%) hue-rotate(332deg) brightness(96%) contrast(95%);
    }

    &-link {
      font-size: 0.75em;
      line-height: 16px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $color-action-reg;
      font-weight: bold;
      display: flex;
      gap: 15px;
      align-items: center;
      transition: .25s;
    }
  }

  &__map {
    width: 100%;
    background-color: $color-grey-bg;

    &>iframe {
      height: 600px;
      width: 100%;
      border: none;
    }

    @include sm-min {
      margin-top: 80px;
    }

    @include sm {
      margin-top: 43px;
    }

    &-title {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}