@use "../../presets" as *;
@use "../../mixins" as *;

.contacts-form {
  max-width: 529px;
  height: 576px;
  background-color: $color-grey-bg;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 12px;
  flex-basis: 530px;

  @include sm {
    width: 100%;
  }

  &__title {
    @include gradient;

    @include sm-min {
      font-size: 32px;
      line-height: 38px;
    }

    @include sm {
      font-size: 22px;
      line-height: 26px;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-grey-text;
  }

  &__btn {
    display: block;
    min-width: 250px;
    min-height: 50px;
    margin: 0 auto;
    color: #ffffff;
    border: 1px solid #24a3ff;
    border-radius: 12px;
    background-color: $color-action-reg;
    box-shadow: 0 0 20px rgb(36 163 255 / 50%);
    font-weight: bold;

    &:hover {
      background: $color-action-hover;
    }

    &:active {
      background: $color-action-active;
    }
  }

  &__message {
    resize: none;
    padding: 10px 15px 10px 10px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    line-height: 26px;
    height: 100%;
    width: 100%;
  }

  &__item {
    height: 34%;
  }
}