@use "../../../presets" as *;

.header-content {
  position: relative;
  display: flex;
  justify-content: center;
}


.header-content__symbol {
  z-index: 1;
}

.header-content__title {
  z-index: 2;
}

.header-content__img {
  display: flex;

}
