@use "../../../mixins" as *;
@use "../../../presets" as *;

.header {
  &__grid {

    @include lg-min {
      display: grid;
      grid-template-areas:
        "a b"
        "a c";
      padding-top: 45px;
    }

    @include lg-md {
      display: grid;
      grid-template-areas: "a" "b";
      align-items: center;
      gap: 20px;
      padding-top: 20px;
    }

    @include md-sm {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 20px;
      gap: 10px;
    }
  }

  &__flex {
    display: flex;

    @include lg-min {
      grid-area: a;
    }

    @include lg-md {
      grid-area: b;
    }
  }

  &-logo {

    @include lg-min {
      grid-area: a;
    }
  }

  &-page {
    font-size: 38px;
    line-height: 45px;
    color: $color-main;
    display: flex;
  }

  &-page::before {
    content: '';
    background-image: url(../../../../../assets/img/header/Slash.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 20px;
    height: 50px;
  }

  &-page::after {
    content: '';
    background-image: url(../../../../../assets/img/header/SymbolSlash.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 45px;
    height: 50px;
  }

  &-menu {

    @include lg-min {
      grid-area: c;
      padding-top: 14px;
    }

    @include lg-md {
      grid-area: b;
    }

    &__list {
      display: flex;
      gap: 15px;
      justify-content: flex-end;
    }

    &__link {
      font-size: 18px;
      line-height: 21px;
    }

    &__link.active {
      border-bottom: 2px solid;
      color: $color-accent;
    }

    &__link:hover {
      color: $color-accent;
    }

    &__link--dark {
      color: $color-action-reg;
    }
  }

  &-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 9px;

    @include lg-min {
      grid-area: b;
    }

    @include lg-sm {
      order: -1;
    }

    &__link {
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 1px;
      padding: 5px 6px;
    }

    &__link.active {
      background-color: $color-accent;
      border-radius: 8px;
      color: $color-white;
    }

    &__link:hover:not(.active) {
      background-color: $color-grey-alt;
      border-radius: 8px;
    }

    &__locate {
      font-size: 16px;
      line-height: 19px;
    }

    &__locate-link,
    &__tel-link {
      margin-right: 7px;
    }

    &__tel {
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
    }

    &__link--dark,
    &__locate-link--dark,
    &__tel-link--dark {
      color: $color-grey-text;
    }
  }

  &-action>div:not(:last-child)::after {
    content: '';
    background-image: url(../../../../../assets/img/header/DotSeparator.svg);
    display: inline-block;
    background-repeat: no-repeat;
    width: 6px;
    height: 6px;
    padding-bottom: 8px;
  }
}

.header-home {
  height: 100vh;
  background: linear-gradient(42.01deg, #323264 14.33%,
      #323264 51.39%, #7A425E 87.53%);
}