@use "../../../mixins" as *;
@use "../../../presets" as *;

.header-menu {
  justify-self: end;

  @include lg-min {
    grid-area: c;
    padding-top: 14px;
  }

  @include lg {
    grid-area: b;
  }

  &__btn {
    position: relative;
    z-index: 5;
    width: 27px;
    height: 20px;
    cursor: pointer;

    @include sm-min {
      display: none;
    }

    &.burger {
      bottom: 46px;
    }

    &-row {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      transition: 0.25s ease-in-out;
      transform: rotate(0deg);
      opacity: 1;
      background-color: $color-white;

      &.burger {
        background-color: red;
      }

      &--dark {
        background-color: $color-main;
      }

      &:nth-of-type(1) {
        top: 5px;
      }

      &:nth-of-type(2) {
        top: 13px;
      }

      &:nth-of-type(3) {
        top: 21px;
      }
    }

    &.burger span {
      &:nth-of-type(1) {
        top: 12px;
        transform: rotate(135deg);
      }

      &:nth-of-type(2) {
        left: -40px;
        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 12px;
        transform: rotate(-135deg);
      }
    }
  }

  &__list {

    @include sm-min {
      display: flex;
      gap: 15px;
    }

    @include sm {
      display: none;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 4;
      width: 100%;
      height: 50vh;
      padding-top: 40px;
      background-color: $color-white;
      border-radius: 0 0 12px 12px;
      animation: slide 1s;
    }

    &.burger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      @keyframes slide {
        0% {
          top: -250px;
        }

        100% {
          top: 0;
        }
      }

      &::before {
        content: "";
      background-image: url(../img/header/SymbolSlash.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      top: 10px;
      position: absolute;
      }
    }
  }

  &__item {

    &.burger {
      background-color: $color-grey-bg;
    width: 60%;
    height: 13%;
    display: flex;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 21px;
    transition: .25s;

    &.active {
      border-bottom: 2px solid;
      color: $color-accent;
    }

    &:hover {
      color: $color-accent;
    }

    &--dark {
      color: $color-action-reg;
    }

    &.burger {
      font-size: 24px;
      color: $color-action-reg;
    }
  }
}