@use "../../../mixins" as *;
@use "../../../presets" as *;

.footer {
  padding-bottom: 39px;
  background-color: $color-grey-bg;
}

.footer__flex {
  display: flex;
  justify-content: space-between;

  padding-top: 29px;

  @include sm {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
  }

  &--dark {
    border-top: 4px solid $color-grey-sep;
  }
}

.footer-contacts {
  display: flex;

  flex-wrap: wrap;
  column-gap: 29px;


  @include md-min {
    row-gap: 22px;
    flex-basis: 450px;
    align-items: center;
  }

  @include md {
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }

  @include sm {
    align-items: center;
  }

}

.footer-contacts__adress {
  line-height: 19px;
  color: $color-main;
  font-weight: 500;
  font-style: normal;

}


.footer-contacts__map {
  padding-left: 4px;
}

.footer-contacts__map-link {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-action-reg;
  transition: .25s;

  &:hover {
    color: $color-accent;
  }
}

.footer-contacts__social {


  &:hover {
    filter: invert(1000%) sepia(59%) saturate(1000%) hue-rotate(332deg) brightness(96%) contrast(95%);
  }
}

.footer-contacts__social-link {}

.footer-contacts__tel {}

.footer-contacts__tel-link {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: $color-main-alt;
}

.footer-contacts__mail {}

.footer-contacts__mail-link {
  transition: .25s;
  font-weight: bold;
  line-height: 19px;
  letter-spacing: 1px;
  color: $color-action-reg;

  &:hover {
    color: $color-accent;
  }
}

.footer-copyright {
  line-height: 19px;
  color: $color-grey-text;

  @include md-sm {
    align-self: flex-end;
  }
}