@use "../../presets" as *;
@use "../../mixins" as *;

.publication {

  @include md-min {
    padding-top: 60px;
  }

  @include md {
    padding-top: 30px;
  }

  &__pic {
    max-width: 906px;
    margin: 0 auto 35px;

    @include lg-md {
      padding: 0 20px;
    }

    @include md {
      margin-bottom: 16px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 906px;

    @include md-min {
      margin: 0 auto;
      gap: 33px;
    }

    @include md {
      gap: 13px;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;

    @include md-min {
      border-radius: 12px;
    }
  }

  &__attention {
    @include gradient;
    display: inline-block;

    @include md-min {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 6px;
    }

    @include md {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 26px;
    }
  }
}