@use "../../presets" as *;
@use "../../mixins" as *;

.topics {
  background-color: $color-grey-bg;
  padding-top: 24px;
  overflow: hidden;
  position: relative;

  @include sm-min {
    height: 870px;

    &--page {
      height: 100%;
      margin-top: 59px;
    }

    &::after {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200px;
      content: "";
      background: linear-gradient(180deg, rgba(245, 245, 250, 0) 0%, $color-grey-bg 86.5%);
    }
  }

  &__wrap {
    padding: 20px;
  }

  &__layout {
    gap: 40px;

    @include lg-min {
      columns: 3;
    }

    @include sm-min {
      columns: 2;
      padding-top: 40px;
    }

    @include sm {
      padding-top: 20px;
    }
  }

  &__page {
    position: relative;

    &-link {
      @include go-to-link;
      color: $color-action-reg;

      &::after {
        content: '';
        @include go-to-arrow;
        left: 95px;
        filter: invert(65%) sepia(48%) saturate(950%) hue-rotate(184deg) brightness(165%) contrast(101%);
      }
    }
  }

  &__title {
    @include gradient;
    display: inline-block;

    @include sm-min {
      font-size: 42px;
    }

    @include sm {
      font-size: 32px;
    }
  }



  &__action {
    display: flex;
    justify-content: center;
    align-items: center;

    @include sm-min {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      transform: translateY(-41px);
      z-index: 2;
    }

    @include sm {
      padding: 21px 0 41px;
    }
  }

  &__btn {
    z-index: 3;
    @include btn-style;

    &:hover {
      background: #0085FF;
    }

    &:active {
      background: #006CCF;
    }
  }
}

.topics__switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.topics__switch {
  display: inline-flex;
  position: relative;
  padding: 3px;
  border-radius: 12px;
  background: $color-grey-sep;
  gap: 2px;

  &-highlight {
    width: 50%;
    position: absolute;
    top: 3px;
    left: 0;
    bottom: 3px;
    background: $color-white;
    border-radius: 10px;
    transition: .3s;
  }
}

.topics__switch-btn {
  position: relative;
  padding: 7px 33px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: $color-main;
  background: none;
  border-radius: 50px;
  border: 0;
  outline: none;
  transition: .3s;
  cursor: pointer;

&:hover,
&:focus {
  background: $color-grey-bg;
border-radius: 10px;
}

  &.is-active {
    background: $color-white;
  }
}