@use "../../presets" as *;
@use "../../mixins" as *;

  .topics-item {
    background-color: $color-white;
    border-radius: 8px;
    margin-bottom: 40px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;

    @include sm-min {
      margin-bottom: 40px;
    }

    @include sm {
      margin-bottom: 20px;

      &.non-visible {
        display: none;
      }
    }

    &__content {
      padding: 20px;

      @include sm {
        padding: 16px 20px 20px 20px;
      }
    }

    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: $color-action-reg;
    }



  &__date {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-grey-text;
    padding-top: 10px;


    @include sm-min {
      margin-bottom: 18px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 22px;
    padding-top: 20px;
    border-top: 4px solid #E6E6F0;
    max-width: 372px;

    @include sm {
      display: none;
    }
  }

  &__pic {
    order: -1;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  }