@use "../../presets" as *;
@use "../../mixins" as *;

.topics-item {
  background-color: $color-white;
  border-radius: 8px;
  margin-bottom: 40px;
  max-width: 413px;
  min-height: 236px;
  transition: .25s ease-out;
  display: inline-flex;

@include lg-min {
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

  @include sm-min {
    margin-bottom: 40px;
  }

  @include sm {
    margin-bottom: 20px;

    &.non-visible {
      display: none;
    }
  }

  &__content {
    padding: 20px;

    @include sm {
      padding: 16px 20px 20px 20px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 1.125em;
    line-height: 21px;
    color: $color-action-reg;
    transition: .25s;
    display: flex;
    flex-direction: column;

    &:hover {
      color: $color-accent;
    }
  }

  &__date {
    font-weight: bold;
    font-size: 0.75em;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-grey-text;
    padding-top: 10px;

    @include sm-min {
      margin-bottom: 18px;
    }
  }

  &__text {
    line-height: 22px;
    padding-top: 20px;
    border-top: 4px solid #E6E6F0;
    max-width: 372px;
    color: black;
    font-weight: 400;
    font-size: 16px;
    @include sm {
      display: none;
    }
  }

  &__pic {
    order: -1;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }
}