@use "../presets" as *;

@mixin gradient {
  background-color: $color-accent;
  background-image: linear-gradient(90.13deg, $color-accent 0.84%, $color-accent-light 99.96%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}

@mixin gradient2 {
  background: linear-gradient(90deg, $color-accent-light 33%, $color-accent 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin btn-style {
  background: $color-action-reg;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  color: $color-white;
  min-width: 250px;
  max-width: 1320px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin go-to-link {
  font-size: 0.875em;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
}

@mixin go-to-arrow {
  content: '';
  background-image: url(../img/home/services/LinkArrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 4px;
}