@use "../presets" as *;

@mixin gradient {
  background-color: $color-accent;
  background-image: linear-gradient(90.13deg, $color-accent 0.84%, $color-accent-light 99.96%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
}