@use "../../../presets" as *;
@use "../../../mixins" as *;


.experience {

  @include lg-min {
    padding: 80px 0 80px 0;
  }

  background-color: $color-main;

}

.container {}

.experience-slider {
  display: flex;

  @include lg-min {
    gap: 80px;
  }

  @include lg {
    flex-direction: column;
  }
}

.experience-slider__titles {
  position: relative;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 2;
  gap: 20px;
}

.experience-slider__title {

  @include lg-min {
    font-size: 42px;
    line-height: 50px;
  }

  @include lg {
    display: none;
    width: min-content;
    margin-bottom: 10px;
    white-space: nowrap;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14;
    line-height: 17px;
  }

  color: $color-grey-text;
}

.experience-slider__notes {
  display: flex;
  align-items: center;
  flex-basis: 0;
  flex-grow: 3;
}

.experience-slider__note {
  position: absolute;
}

.experience-slider__subtitle {

  @include lg-min {
    font-size: 32px;
    color: $color-white;
  }

  @include lg {
    margin-bottom: 15px;
    font-size: 22px;
  }

}

.experience-slider_text {
  line-height: 30px;

  @include lg-min {
    font-size: 21px;
  }

  @include lg {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.experience-slider__indicators {}








