@font-face {
  font-family: "TT Norms";
  font-weight: bold;
  font-style: normal;

  src: url("TTNorms-Bold.eot");
  src: local("TT Norms Bold"), local("TTNorms-Bold"), url("../fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "TT Norms";
  font-weight: 500;
  font-style: normal;

  src: url("TTNorms-Medium.eot");
  src: local("TT Norms Medium"), local("TTNorms-Medium"), url("../fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT Norms";
  font-weight: 400;
  font-style: normal;

  src: url("TTNorms-Regular.eot");
  src: local("TT Norms Regular"), local("TTNorms-Regular"), url("../fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: #ffffff;
}

button {
  cursor: pointer;
}

html {
  font-size: 16px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;

  font-family: "TT Norms", sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer {
  padding: 29px 0 39px;

  background-color: #f5f5fa;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.footer-contacts__adress {
  color: #323264;

  font-weight: 500;
  line-height: 19px;
}

.footer-contacts__map {
  padding-left: 4px;
}

.footer-contacts__map-link {
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #24a3ff;

  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}

.footer-contacts__tel-link {
  color: #46466e;

  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.footer-contacts__mail-link {
  letter-spacing: 1px;

  color: #24a3ff;

  font-weight: bold;
  line-height: 19px;
}

.footer-copyright {
  color: #b3b3ba;

  line-height: 19px;
}

.header__grid--abs {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}
.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  color: #323264;

  font-size: 38px;
  line-height: 45px;
}
.header-page::before {
  display: inline-block;

  width: 20px;
  height: 50px;

  content: "";

  background-image: url(../img/header/Slash.svg);
  background-repeat: no-repeat;
}
.header-page::after {
  display: inline-block;

  width: 45px;
  height: 50px;

  content: "";

  background-image: url(../img/header/SymbolSlash.svg);
  background-repeat: no-repeat;
}
.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  gap: 15px;
}
.header-menu__link {
  font-size: 18px;
  line-height: 21px;
}
.header-menu__link.active {
  color: #f0145a;
  border-bottom: 2px solid;
}
.header-menu__link:hover {
  color: #f0145a;
}
.header-menu__link--dark {
  color: #24a3ff;
}
.header-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  gap: 9px;
}
.header-action__link {
  padding: 5px 6px;

  letter-spacing: 1px;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
}
.header-action__link.active {
  color: #ffffff;
  border-radius: 8px;
  background-color: #f0145a;
}
.header-action__link:hover:not(.active) {
  color: #b3b3ba;
  border-radius: 8px;
  background-color: #ededf7;
}
.header-action__locate {
  font-size: 16px;
  line-height: 19px;
}
.header-action__locate-link,
.header-action__tel-link {
  margin-right: 7px;
}
.header-action__tel {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.header-action__link--dark,
.header-action__locate-link--dark,
.header-action__tel-link--dark {
  color: #b3b3ba;
}
.header-action > div:not(:last-child)::after {
  display: inline-block;

  width: 6px;
  height: 6px;
  padding-bottom: 8px;

  content: "";

  background-image: url(../img/header/DotSeparator.svg);
  background-repeat: no-repeat;
}

.header-home {
  position: relative;

  overflow: hidden;

  background: -o-linear-gradient(47.99deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
  background:    linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
}
.header-home::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  background-image: url(../img/header/Frame2.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: 88vh;
}
.header-home::after {
  position: absolute;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.67%, rgba(50, 50, 100, 0)), to(#323264));
  background: -o-linear-gradient(top, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
  background:    linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
}

.header-home__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-height: 100vh;
}

.header-home__symbol {
  position: absolute;
  bottom: 0;

  -webkit-transform: translateY(8%);
      -ms-transform: translateY(8%);
          transform: translateY(8%);
}

.header-home__title {
  position: relative;

  max-width: 623px;

  text-align: center;

  color: #ffffff;

  font-size: 38px;
  font-weight: 500;
  line-height: 45px;
}

.header-home__btn {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 50%;

  cursor: pointer;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-description__title {
  background-color: #f0145a;
  background-image: -o-linear-gradient(359.87deg, #f0145a 0.84%, #ef8080 99.96%);
  background-image:    linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 100%;

  -webkit-text-fill-color: transparent;
}

.about-description__text {
  padding-top: 20px;
}

.about-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;

  min-height: 307px;
}

.about-stats__number {
  display: inline-block;

  background-color: #f0145a;
  background-image: -o-linear-gradient(359.87deg, #f0145a 0.84%, #ef8080 99.96%);
  background-image:    linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 100%;

  font-size: 36px;
  font-weight: bold;
  line-height: 42px;

  -webkit-text-fill-color: transparent;
}

.flag::before {
  padding-right: 10px;

  content: url(../img/about_us/Flaf.svg);
}

.case::before {
  padding-right: 10px;

  content: url(../img/about_us/Case.svg);
}

.star::before {
  padding-right: 9px;

  content: url(../img/about_us/Star.svg);
}

.about-stats__text {
  padding-top: 9px;

  color: #323264;

  font-size: 18px;
  line-height: 21px;
}

.about-banner {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-banner__photo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-banner__photo-link > img {
  width: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}

.about-banner__link {
  position: absolute;
  top: 50%;
  left: 52%;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;

  opacity: 0.8;
  color: #ffffff;
  text-shadow: 0 15px 30px rgba(40, 40, 86, 0.8);

  font-weight: 700;
  line-height: 113px;
}

.quality__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.quality__title {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;

  max-width: 415px;

  background-color: #f0145a;
  background-image: -o-linear-gradient(359.87deg, #f0145a 0.84%, #ef8080 99.96%);
  background-image:    linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  background-size: 100%;

  -webkit-text-fill-color: transparent;
}

.quality__text {
  max-width: 640px;
  padding-top: 20px;

  font-size: 21px;
  line-height: 30px;
}

.achievements {
  border-radius: 12px 12px 0 0;
  background-color: #f5f5fa;
}

.achievements__title {
  padding: 28px;

  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #323264;

  font-size: 14px;
  line-height: 17px;
}

.achievements__grid {
  display: grid;
}

.achievements__item-img {
  width: 100%;
}

.achievements__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 30px;

  border-bottom: 4px solid #e6e6f0;

  gap: 14px;
}

.achievements__slider-dot {
  width: 16px;
  height: 16px;

  opacity: 0.2;
  border: none;
  border-radius: 8px;
  background-color: #24a3ff;
}
.achievements__slider-dot.active {
  opacity: 1;
}
@media (min-width: 600px) {
  .about-description__title {
    font-size: 42px;
    line-height: 50px;
  }
  .about-description__text {
    font-size: 21px;
    line-height: 30px;
  }
}
@media (min-width: 820px) {
  .footer-contacts {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-preferred-size: 450px;
    flex-basis: 450px;

    row-gap: 22px;
  }
  .footer-contacts__map::before,
  .footer-contacts__tel::before,
  .footer-contacts__mail::before {
    display: inline-block;

    width: 6px;
    height: 6px;
    padding-right: 15px;
    padding-bottom: 8px;

    content: "";

    background-image: url(../img/header/DotSeparator.svg);
    background-repeat: no-repeat;
  }
  .about__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;

    margin: 82px 0 79px 0;

    gap: 40px;
  }
  .about-stats {
    max-width: 412px;

    border-left: 4px solid #e6e6f0;

    gap: 40px;
  }
  .about-stats__block {
    padding-left: 21px;
  }
  .about-banner {
    margin-bottom: 80px;
  }
  .quality__flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
        flex-direction: row;

    gap: 40px;
  }
  .quality__title {
    padding-top: 17px;

    font-size: 42px;
    line-height: 50px;
  }
  .quality__text {
    font-size: 21px;
    line-height: 30px;
  }
  .achievements__grid {
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }
  .achievements__item.non-visible {
    display: block;
  }
  .non-visible {
    display: none;
  }
}
@media (min-width: 992px) {
  .header__grid {
    display: grid;

    padding-top: 45px;

    grid-template-areas: "a b" "a c";
    grid-template-columns: auto 1fr;
  }
  .header__flex {
    grid-area: a;
  }
  .header-logo {
    grid-area: a;
  }
  .header-menu {
    padding-top: 14px;

    grid-area: c;
  }
  .header-action {
    grid-area: b;
  }
  .about-description {
    max-width: 641px;
  }
  .about-banner__link {
    letter-spacing: 63px;

    font-size: 96px;
  }
}
@media (max-width: 991.8px) and (min-width: 600px) {
  .header-action {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
}
@media (max-width: 991.8px) and (min-width: 820px) {
  .header__grid {
    display: grid;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;

    padding-top: 20px;

    gap: 20px;
    grid-template-areas: "a" "b";
  }
  .header__flex {
    grid-area: b;
  }
  .header-logo {
    grid-area: b;
  }
  .header-menu {
    grid-area: b;
  }
  .about-description {
    max-width: 500px;
  }
  .about-banner__link {
    letter-spacing: 45px;

    font-size: 80px;
  }
}
@media (max-width: 819.8px) {
  .footer-contacts {
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    row-gap: 10px;
  }
  .about__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    margin: 41px 0 15px 0;

    gap: 20px;
  }
  .about-description {
    max-width: 750px;
  }
  .about-stats {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    max-width: 100%;

    border-top: 4px solid #e6e6f0;
  }
  .quality__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    gap: 16px;
  }
  .quality__title {
    margin-bottom: 39px;

    font-size: 32px;
    line-height: 38px;
  }
  .quality__text {
    font-size: 18px;
    line-height: 26px;
  }
  .achievements__grid {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .achievements__item.non-visible {
    display: none;
  }
  .non-visible {
    display: block;
  }
}
@media (max-width: 819.8px) and (min-width: 600px) {
  .footer-copyright {
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
  .header__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -ms-flex-align: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    padding-top: 20px;

    gap: 10px;
  }
  .about-banner__link {
    letter-spacing: 20px;

    font-size: 55px;
  }
}
@media (max-width: 599.8px) {
  .footer__flex {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;

    text-align: center;

    gap: 20px;
  }
  .footer-contacts {
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-align: center;
  }
  .about-description__title {
    font-size: 32px;
    line-height: 38px;
  }
  .about-description__text {
    font-size: 18px;
    line-height: 26px;
  }
}
