@use "../../presets" as *;
@use "../../mixins" as *;

.services-item {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 15px;

  @include lg {
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  &__title-link {
    color: $color-action-reg;
    transition: .2s ease-in;

    @include md-min {
      font-size: 24px;
      line-height: 28px;
    }

    @include md {
      font-size: 18px;
      line-height: 21px;
    }

    &:hover {
      color: $color-accent
    }
  }

  &__pic {
    order: -1;
    display: flex;
  }

  &__img {

    @include md {
      width: 64px;
    }
  }

  &__description {
    color: $color-white;

    @include lg {
      grid-column: 1/3;
    }

    @include md-min {
      font-size: 18px;
      line-height: 26px;
    }

    @include md {
      font-size: 16px;
      line-height: 22px;
    }
  }
}