@use "../../presets" as *;
@use "../../mixins" as *;


.services {
  padding-bottom: 80px;
  margin-bottom: 60px;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(209deg, #323264 11%, #323264 57%, #643e72 87%);
  position: relative;

  @include lg-min {
    padding-top: 70px;
  }

  @include lg {
    padding-top: 25px;

    &--open {
      padding-top: 70px;
    }
  }

  &::before {
    content: '';
    background: #CACADB;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    z-index: 1;
    top: 100%;
    height: 10px;
    left: 20px;
    right: 20px;
  }

  &::after {
    content: '';
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
    position: absolute;
    top: 100%;
    height: 20px;
    left: 40px;
    right: 40px;
  }

  &--open {
    background: linear-gradient(200deg, #323264 11%, #323264 66%, #643e72 92%);
  }

  &__page {
    position: relative;

    &-link {
      @include go-to-link;
      color: $color-white;
      opacity: 0.5;

      &::after {
       @include go-to-arrow;
        left: 83px;
      }
    }
  }

  &__title {
    @include gradient;

    @include lg-min {
      margin-bottom: 60px;
      font-size: 42px;
    }

    @include lg-sm {
      margin-bottom: 40px;
      font-size: 32px;
    }

    @include sm {
      margin-bottom: 20px;
      font-size: 32px;
    }
  }

  &__grid {
    display: grid;

    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg-md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include md-min {
      gap: 60px;
    }

    @include md {
      gap: 25px;
    }
  }
}


.services__content {
  max-width: 1131px;
  margin: 0 auto;
  border-top: 4px solid #9898b2;
}

.services__content-title {

  color: $color-white;
  font-weight: 500;
  padding-top: 19px;
  margin-bottom: 22px;

  @include md-min {
    font-size: 24px;
    line-height: 28px;
  }

  @include md {
    font-size: 18px;
    line-height: 21px;
  }
}

.services__list {
  display: grid;

  max-width: 1090px;
  margin: 0 auto;
  column-gap: 50px;
  row-gap: 20px;

  @include md-min {
    grid-template-columns: 1fr 1fr;
  }
}

.services__direction {
  font-size: 18px;
  line-height: 26px;
  color: $color-white;

  &::before {
    content: '';
    background-image: url(../../../../assets/img/home/services/DotSeparator.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 7px;
    height: 7px;
    padding-bottom: 8px;
    margin-left: -12px;
    padding-right: 12px;
  }
}