@use "../../mixins" as *;
@use "../../presets" as *;

.about {
  &__flex {
    display: flex;
    justify-content: center;

    @include md-min {
      flex-direction: row;
      gap: 40px;
      margin: 82px 0px 79px 0px;
    }

    @include md {
      flex-direction: column;
      gap: 20px;
      margin: 41px 0px 15px 0px;
    }
  }

  &-description {
    @include lg-min {
      max-width: 641px;
    }

    @include lg-md {
      max-width: 500px;
    }

    @include md {
      max-width: 750px;
    }

    &__title {
      @include gradient;

      @include sm-min {
        font-size: 42px;
        line-height: 50px;
      }

      @include sm {
        font-size: 32px;
        line-height: 38px;
      }
    }

    &__text {
      padding-top: 20px;

      @include sm-min {
        font-size: 21px;
        line-height: 30px;
      }

      @include sm {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  &-stats {
    display: flex;
    flex-direction: column;
    min-height: 307px;
    justify-content: space-evenly;

    @include md-min {
      border-left: 4px solid $color-grey-sep;
      max-width: 412px;
      gap: 40px;
    }

    @include md {
      border-top: 4px solid $color-grey-sep;
      flex-direction: column;
      max-width: 100%;
    }

    &__block {
      @include md-min {
        padding-left: 21px;
      }
    }

    &__number {
      font-size: 36px;
      line-height: 42px;
      font-weight: bold;
      @include gradient;
      display: inline-block;

      &.flag::before {
        content: url(../img/about_us/Flaf.svg);
        padding-right: 10px;
      }

      &.case::before {
        content: url(../img/about_us/Case.svg);
        padding-right: 10px;
      }

      &.star::before {
        content: url(../img/about_us/Star.svg);
        padding-right: 9px;
      }
    }

    &__text {
      font-size: 18px;
      line-height: 21px;
      color: $color-main;
      padding-top: 9px;
    }
  }
}