@use "../../mixins" as *;
@use "../../presets" as *;

.achievements {
  background-color: $color-grey-bg;
  border-radius: 12px 12px 0px 0px;

  &__title {
    font-size: 0.875em;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-main;
    padding: 28px;
  }

  &__grid {
    display: grid;

    @include md-min {
      gap: 40px;
      grid-template-columns: repeat(4, 1fr);
    }

    @include md {
      gap: 40px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {

    &.non-visible {
      @include md-min {
        display: block;
      }

      @include md {
        display: none;
      }
    }

    &-img {
      width: 100%;
    }
  }
}