@use "../../mixins" as *;
@use "../../presets" as *;

.quality__flex {
  display: flex;
  gap: 40px;
}
.quality__title {
  font-size: 42px;
line-height: 50px;
@include gradient;
max-width: 415px;
order: 1;
}
.quality__text {
  font-size: 21px;
line-height: 30px;
max-width: 640px;
margin-bottom: 20px;
}