@use "../../presets" as *;
@use "../../mixins" as *;

.quote {

  &__flex {
    background: $color-grey-bg;
    border-radius: 12px;
    display: flex;
    gap: 40px;

    @include lg {
      padding: 20px;
    }
  }

  &__pic {
    order: -1;

    @include lg {
      display: none;
    }
  }

  &__link {
    @include go-to-link;
    color: $color-action-reg;

    &::after {
      content: '';
      @include go-to-arrow;
      left: 83px;
      filter: invert(65%) sepia(48%) saturate(950%) hue-rotate(184deg) brightness(165%) contrast(101%);
    }

    &-wrap {
      position: relative;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include lg-min {
      padding-top: 40px;
    }

    @include lg {
      gap: 7px;
    }
  }

  &__title {
    font-weight: 700;

    @include gradient;


    @include lg-min {
      font-size: 2.625em;
      max-width: 90%;
    }

    @include lg {
      font-size: 2em;
    }
  }

  &__name {
    font-size: 1.125em;
    line-height: 21px;
    color: $color-grey-text;
    position: relative;

    @include lg-min {
      padding-top: 20px;
    }
  }

  &__position {
    line-height: 22px;
    color: $color-grey-text;
    padding-top: 6px;
  }

  &__member-pic {
    @include lg-min {
      display: none;
    }
  }

  &__member {
    @include lg {
      display: flex;
      align-items: center;
      gap: 11px;
    }
  }
}