@use "../presets" as *;
@use "../mixins" as *;

.container {
  max-width: $ul;
  margin: 0 auto;
  padding: 0 20px;

  &--rel {
    position: relative;
    z-index: 2;
    @include md-min {
      padding-top: 93px;
    }

    @include md-sm {
      padding-top: 140px;
    }

    @include sm {
      padding-top: 50px;
    }
  }
  
}

.slider{
  display: flex;
  justify-content: center;
  padding: 30px 30px 30px 30px;
  gap: 14px;
  position: relative;

  &__dot {
    width: 16px;
    height: 16px;
    opacity: 0.2;
    border-radius: 8px;
    border: none;
    background-color: $color-action-reg;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 0.6;
     }
  }
}

