@use "../presets" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $color-white;
}

button {
  cursor: pointer;
}

html {
  font-size: $font-size;
  font-weight: 400;
  font-family: $font-primary;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
